.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.Login > * {
  line-height: 30px;
}

.App {
  padding: 1em;
}

.Card {
  padding: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
  margin-bottom: 2em;
}

.Card pre {
  background: #212121;
  color: white;
  padding: 0.75em;
}

.Session {
  background: #f1f3f5;
  padding: 0 10px;
  cursor: pointer;
}

.Session:hover {
  background: #eee;
}

.Session p {
  margin-right: 2em;
}

.toggle-btn {
  height: 30px;
  line-height: 20px;
  border: none;
  border-radius: 3px;
  background-color: gray;
  outline: none;
}

.code {
  line-height: 16px;
}

.SessionModal {
  height: 800px;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.ant-menu code {
  line-height: normal;
}
