.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.Login > * {
  line-height: 30px;
}

.App {
  padding: 1em;
}

.Card {
  padding: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
  margin-bottom: 2em;
}

.Card pre {
  background: #212121;
  color: white;
  padding: .75em;
}

.Session {
  border-bottom: 2px solid rgba(33, 230, 118, .5);
  cursor: pointer;
  display: flex;
}

.Session:hover {
  border-bottom: 2px solid rgba(33, 230, 118, 1);
}

.Session p {
  margin-right: 2em;
}

.SessionModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
}

.SessionModal .close-btn {
  position: absolute;
  right: 1em;
  top: 1em;
}
